@page
@model ManageUsers.Areas.Identity.Pages.Account.BlockedModel
@{
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-danger">You are banned!</h4>
    <p>someone doesn't like you that's why you got banned</p>
</div>